:root {
  --color-black-primary: #141414;
  --color-grey-primary: #242424;
  --color-white-primary: #ffffff;
  --coloro-purple-primary: #201d48;
  --color-text-black1: #2c2c2c;
  --color-text-black2: #000000;
  --color-text-white1: #f2f2f2;
  --button-shade1: #636363;
  --button-shade2: #0000008a;
  --background-color-orange: #f47d20;
  --color-background-playzone: #abd9ff;
  --blu-compraora: #005ad2;
  --orange-footer: #e96f14;
  --red-new: #d0021b;
  ---yellow-minibanner: #ffd502;
  --yellow-star: #fac400;
  --gray-bg: rgb(172, 172, 172);
}

.banner {
  height: 4.6875rem;
  margin: 0px auto;
  padding: 0px 1.875rem;
  width: 100%;
  max-width: 100rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: var(---yellow-minibanner);
}

.sopra {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nave {
  background-image: url("home.jpg");
}

.navBanner {
  display: flex;
}

.navBanner ul {
  display: flex;
  gap: 10px;
  list-style: none;
  color: var(--button-shade2);
}

.navBanner ul li a {
  color: var(--color-text-black2);
  text-decoration: none;
}

.navBanner ul li:last-child a {
  text-transform: uppercase;
  padding: 0.3125rem 1.25rem;
  border-radius: 4px;
  color: rgb(208, 2, 27);
  background: rgb(255, 255, 255);
}

.esclusivo {
  background-color: var(---yellow-minibanner);
  color: var(--color-black-primary);
  letter-spacing: 0.01em;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.62;
  align-items: center;
  min-width: max-content;
  margin: 0;
  display: inline-flex;
  font-family: sans-serif;
}

.firstButton {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: max-content;
  display: flex;
}

.sfondo1 {
  background-color: var(--color-black-primary);
}

.legobanner {
  background-color: var(--color-black-primary);
}

ol {
  display: inline-flex;
  gap: 10px;
  list-style-type: none;
}

.descrizione1 {
  background-color: #f2f2f2;
  margin: 1rem;
  padding: 1.25re, 1rem;
}

/*PARTE DELLE FOTO A GRIGLIA*/
.evidenza_griglia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 150px 0px;
}

.evidenza_griglia_titolo {
  font-size: 29px;
  margin-bottom: 5px;
  font-weight: bold;
}

.evidenza_griglia_sottotitolo {
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 0;
}

.sezione_foto_griglia {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  margin-top: 0;
}

.foto_griglia {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 40vh;
  gap: 20px;
  list-style: none;
}

.foto_griglia_grande {
  grid-column: span 2;
  grid-row: span 2;
}

.foto_griglia img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.foto_griglia li {
  position: relative;
}

.bottone_plus {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.popup {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: white;
  padding: 12px;
  width: 160px;
  border-radius: 10%;
  opacity: 0;
  visibility: hidden;
}

.popup p {
  cursor: pointer;
}

.foto_griglia li:hover .bottone_plus {
  opacity: 0;
}

.foto_griglia li:hover .popup {
  opacity: 1;
  visibility: visible;
}

.popup_exit {
  position: absolute;
  top: 8px;
  left: 8px;
  margin-bottom: 10px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 999px;
  padding: 0 5px;
}

.popup_exit:hover {
  background-color: var(--gray-bg) ;
}

.popup_freccia {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}

.popup_prezzo {
  font-weight: bold;
  cursor: pointer;
}

/*parte momenti Lego */

.evidenza_momenti {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.evidenza_momenti_testo {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.evidenza_momenti_titolo {
  font-weight: bold;
  font-size: 29px;
}

.evidenza_momenti_sottotitolo {
  font-size: 16px;
}

.evidenza_momenti_body {
  position: relative;
  background-image: url("bottonebrutto.png");
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  max-width: 1600px;
  cursor: pointer;
  margin-bottom: 50px;
}

.evidenza_momenti_categorie {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1px;
  border-radius: 999px;
  text-align: center;
  font-weight: 500;
}

.categorie_bottone_uno {
  padding: 11px;
  color: var(--color-text-white1);
  background-color: var(--color-text-black2);
  border-radius: 999px;
  font-size: 14px;
  margin: 1px;
  border: 2px;
}

.categorie_bottoni {
  padding: 12px;
  color: var(--color-text-black2);
  background-color: rgb(0, 0, 0, 0);
  border-radius: 999px;
  font-size: 14px;
  margin: 1px;
  border: 2px;
}

.evidenza_momenti_tentazione {
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-white-primary);
  background-color: rgb(0, 0, 0, 0);
  margin-left: 20px;
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tentazione_testo {
  cursor: pointer;
}

.tentazione_testo_titolo {
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 12px;
  margin: 0;
}

.tentazione_testo_sottotitolo {
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 12px;
  margin: 0;
  letter-spacing: normal;
}

.tentazione_bottoni {
  display: inline-flex;
  gap: 20px;
  margin-top: 10px;
}

.bottone_compra {
  color: var(--color-text-black2);
  background-color: var(--color-text-white1);
  font-weight: 550;
  font-size: 16px;
  border-radius: 999px;
  padding: 10px 16px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  gap: 12px;
}

.bottone_scopri {
  color: var(--color-text-white1);
  border: 2px solid var(--color-text-white1);
  font-weight: 550;
  font-size: 16px;
  border-radius: 999px;
  padding: 10px 16px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  gap: 12px;
}

.bottone_scopri:hover {
  color: var(--color-text-black2);
  background-color: var(--color-text-white1);
  text-decoration: underline;
}

/*Parte 3 card */


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  line-height: 1.5;
  color: #2c2c2c;
  background: #fff;
  font-family: sans-serif;
}

div {
  display: block;
  unicode-bidi: isolate;
}

a {
  color: #006db7;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

ol {
  margin-block-start: 16px;
  margin-block-end: 16px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
  list-style-type: none;
}

.sezione-3foto {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.sezione-3foto-corpo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1600px;
  padding: 32px;
  margin: auto;
  background-color: var(--color-white-primary);
  color: var(--color-black-primary);
}

.sezione-3foto-testa {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 16px;
  padding-right: 2px;
  padding-top: 2px;
  gap: 4px;
}

.sezione-3foto-testa-titolo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.sezione-3foto-testa-titolo-scritta {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: -0.3px;
  padding-inline-start: 40px;
}

.sezione-3foto-busto {
  display: flex;
  overflow-x: auto;
  padding-top: 2px;
  padding-bottom: 24px;
  width: 100%;
  justify-content: space-between;
}

.sezione-3foto-busto-lista {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sezione-3foto-busto-card {
  flex: 1;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  gap: 16px;
  max-width: 756px;
  padding: 0 2px;
  color: var(--color-black-primary);
}

.sezione-3foto-busto-card-img {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  z-index: 1;
}

.sezione-3foto-busto-card-img img {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 1.444 / 1;
  user-select: none;
  pointer-events: none;
}

.sezione-3foto-busto-card-inferiore {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 16px;
  color: var(--color-black-primary);
}

.sezione-3foto-busto-card-inferiore a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.sezione-3foto-busto-card-inferiore-piede {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 44px;
  gap: 12px;
  margin-top: auto;
}

.sezione-3foto-busto-card-inferiore-piede-bottone {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 999px;
  border: 2px solid var(--button-shade1);
  background-color: transparent;
  padding: 10px 16px;
}

.sezione-3foto-busto-card-inferiore-piede-bottone:hover {
  color: var(--color-white-primary);
  background-color: var(--button-shade1);
  text-decoration: underline;
}

.fine {
  background-color: var(--coloro-purple-primary);
  color: var(--color-text-white1);
}

.evidenza {
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

.search {
  padding: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 1.25rem;
}

/* Sezione bAnner */
.bAnner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 50px;
}

.bAnner_sfondo {
  position: relative;
  height: 25vh;
}


.bAnner_testo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
  z-index: 2; 
}

.bAnner_testo_head {
  color: var(--color-text-black2);
  font-weight: 700;
  text-align: center;
}

.bAnner_testo_head h2 {
  font-size: clamp(6px, 2vw, 26px);
}

.banner_testo_footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bAnner_bottone {
  display: inline-flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 999px;
  width: auto;
  background-color: var(--button-shade1);
  border: 1px solid var(--button-shade1);
  color: var(--color-white-primary);
  padding: 0px 12px;
  gap: 20px;
}

.bAnner_bottone:hover {
  background-color: rgb(70, 70, 70);
  border: 1px solid rgb(70, 70, 70);
  text-decoration: underline;
}

/* sezione descrizione1 */

.descrizione1 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  padding: 25px 16px;
  margin: auto;
  margin-bottom: 80px;
}

.descrizione1_testo {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text-black1);
  margin: 0 14px;
}

/* Sezione footer */

.footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px;
}

.sezione_menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
  font-family: sans-serif;
  font-size: 16px;
}

.sezione_menu_colonna {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.playZone{
    font-family: "Cera Pro", sans-serif;
    background-color: #ABD9FF;
    color: black;
    border: none;
    padding: 6px 14px;           
    border-radius: 6px;
    font-size: 10px;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}

.sopraa{
    display: flex;
    justify-content:space-between ;
    margin: auto;
    padding: auto;
}

.buy{
    color:#005AD2;   
    margin-bottom: auto;
    padding: auto;
}

.buy:hover{
    text-decoration: underline;
}

.frecceS{
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: auto;
}